// copy and paste here everything from the node_modules/bootstrap/scss/_variables.scss
// Then make adjustments to variables for your specific app.

// Color variables
$main-color: #00b2b9;
$second-color: #7ac0c2;
$main-color-lighter: #c0e1e1;
$main-color-super-light: #eff7f7;

// Media queries variables
$break-small: 768px;
$break-smaller: 375px;